﻿@model  IEnumerable<AliexpressProductParsing.Models.ImportedProduct>

@{
    ViewBag.Title = "Home Page";
}
<div class="box a_products">
    <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <div class="box-tools pull-right">
            <div class="loader" id="loader"></div>
            <div class="btn btn-group">
                <a href="javascript:void(0)" class="btn btn-success" id="updateSelected"><i class="fa fa-cloud-upload"></i></a>
                <a href="javascript:void(0)" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i></a>

            </div>

        </div>
    </div>
    <div class="box-body">

        <table id="productlist" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" class="cbxall" /> Select All</th>
                    <th>Product Name</th>
                    <th>Actual Price</th>
                    <th>Discounted Price</th>
                    <th>Available Quantity</th>
                    <th>Last Updated</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><input type="checkbox" class="cbx" value="@item.ProductId" /></td>
                        <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActualPrice)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.GivenPrice)</td>
                        <td> @Html.DisplayFor(modelItem => item.Quantity)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastUpdatedOn)</td>
                        <td>
                            <div class="btn btn-group">
                                <a href="/Home/UpdateInventory/@item.ProductId" class="btn btn-success"><i class="fa fa-cloud-upload"></i></a>
                                <a href="/Home/View/@item.ProductId" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        Footer
    </div>
    <!-- /.box-footer-->
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Scrap New Product</h4>
            </div>
            @using (Html.BeginForm("index", "home", FormMethod.Post))
            {
                <div class="modal-body">

                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.TextBox("url", null, new { @class = "form-control", @placeholder = "Enter URL to fetch data", required = "required" })
                            
                        </div>
                    </div>
                  
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Fetch Details</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
            </div>

    </div>
</div>
<script>
$(document).ready(function() {
    $('#updateSelected').click(function() {
        var list = [];
        $("#loader").show();
        $('#productlist input[class="cbx"]:checked').each(function() {
            list.push(this.value);
        });
        console.log(list);
        // now names contains all of the names of checked checkboxes
        // do something with it for excamle post with ajax
        $.ajax({
            url: '@Url.Action("RefreshData", "Home")',
            type: 'POST',
            data: { ids: list},
            success: function (result) {
                location.reload();
            },
            error: function (result) {
                alert("error!");
            }
        });   //end ajax
    });
    });
    $(".cbxall").click(function () {
        $(".cbx").prop('checked', $(this).prop('checked'));
    });
</script>
<!-- /.box -->
